@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Creepster", cursive;
}

body {
  background-color: #02b0c8;
}

.favorites {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 2.5rem;
  justify-items: center;
  text-align: center;
}

label {
  color: white;
}